#ofertas
    padding-top: 30px
    width: 100%
    height: 768px
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../../assets/offer.png')
    text-align: center
    
    .pr-heading
        text-align: center
        font-family: 'Lato', sans-serif
        width: 600px
        position: absolute
        top: 55%
        left: 50%
        transform: translate(-50%, -55%)

        h1
            font-size: 64px
            margin: 0
            letter-spacing: 2px
            color: #fff

        span
            color: #ff1414
        
        .details
            font-size: 23px
            color: #c5c5c5
        
        .pr-btns
            display: flex
            margin-top: 40px
            margin-left: 35%

            .pr-btn
                width: 220px
                height: 50px
                display: flex
                justify-content: center
                align-items: center
                font-size: 1.4rem
                background-color: #FF1414
                box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336)
                border-radius: 5px
                color: #fff

                &:hover
                    background-color: transparent
                    transition: all ease-in-out 0.5s
                    color: #fff
                    border: 2px solid #FF1414